<h1>RunMates</h1>
<h2>Create account</h2>
<p>Already have an account? <a routerLink="/signin">Sign in</a></p>
<form [formGroup]="newAccountForm" (ngSubmit)="createAccount()">
  <label>
    First Name
    <input type="text" required formControlName="firstName" />
  </label>
  <label>
    Last Name
    <input type="text" required formControlName="lastName" />
  </label>
  <label>
    Email
    <input type="email" required formControlName="email" />
  </label>
  <label>
    Password
    <input type="password" required minlength="6" formControlName="password" />
    <span>Password must be at least 6 characters</span>
  </label>
  <button type="submit" [disabled]="!newAccountForm.valid">Create account</button>
</form>
