<app-navigation />
<main>
  <section>
    <h1>New Post</h1>
    <form [formGroup]="newPostForm" (ngSubmit)="createPost()">
      <label>
        Title
        <input type="text" required formControlName="title" />
      </label>
      <label>
        Content
        <textarea required formControlName="content" rows="5"></textarea>
      </label>
      <label>
        Location
        <input type="text" required formControlName="location" />
      </label>
      <label>
        Pace
        <select required formControlName="pace">
          <option value="Slow">Slow</option>
          <option value="Moderate">Moderate</option>
          <option value="Fast">Fast</option>
        </select>
      </label>
      <button type="submit" [disabled]="newPostForm.invalid || didIJustHitSubmitAndAmWaitingToLoad"><span class="material-symbols-outlined">edit</span>Post</button>
    </form>
  </section>
</main>
