main {
    margin-left: 360px;
    padding: 1.75rem;
  }
  
  section {
    margin: 0 auto;
    max-width: 65ch;
  }
  
  h1 {
    color: #202124;
    margin-top: 0;
    font-size: 2rem;
  }
  
  label {
    color: #3c4043;
    display: block;
    margin-bottom: 1.5rem;
  }
  
  input {
    border-radius: 8px;
    border: 1px solid #80868b;
    color: #3c4043;
    display: block;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0.75rem 1rem;
    width: 100%;
  }
  
  button {
    background-color: #8ab4f8;
    border-radius: 8px;
    border: none;
    color: #202124;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    height: 56px;
    margin-top: 1rem;
    width: 100%;
  
    &:hover {
      box-shadow: 0 1px 2px 0 rgba(#000, 0.3), 0 1px 3px 1px rgba(#000, 0.15);
    }
  }
  