main {
  margin-left: 360px;
  padding: 1.75rem;
}

section {
  margin: 0 auto;
  max-width: 65ch;
}

h1 {
  color: #202124;
  font-size: 2rem;
  margin: 0;
}

h2 {
  color: #3c4043;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 4rem;
}

h3 {
  color: #202124;
  font-size: 1.5rem;
  margin: 3rem 0 0.5rem;
}

p {
  color: #3c4043;
  line-height: 1.5;
}
