<app-navigation />
<main>
  <section>
    <h1>Code of Conduct</h1>
    <h2>These community guidelines represent the rules, norms, and responsibilities we expect you to uphold as an upstanding member of the RunMates community.</h2>
    <h3>Be nice</h3>
    <p>Be kind to others and avoid offensive language or negative comments. We know harassment when we see it and moderators are empowered to suspend your account.</p>
    <h3>Stick to the topic</h3>
    <p>This site is for runners looking for running experiences. Please keep it to that.</p>
    <h3>Be honest</h3>
    <p>Experiences are best when expectations are met or exceeded. If you're a host, offer some details about the run. If you're a traveler, be gracious with your host. In all cases, be up front about your fitness level.</p>
    <h3>Give back</h3>
    <p>If you're typically a traveler, consider hosting an occasional run at your home base.</p>
    <h3>Help us improve</h3>
    <p>Share your feedback about your experiences and suggestions for things you'd like to see and ways we can get better.</p>
  </section>
</main>
