main {
    margin-left: 360px;
    padding: 1.75rem;
}

section {
    margin: 0 auto;
    max-width: 65ch;
}

h1,
h2 {
    color: #202124;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
}

h3 {
    color: #202124;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

article {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}

button {
    align-items: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    height: 56px;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    background-color: #8ab4f8;
    margin-top: 2rem;
    color: #202124;
    &:hover {
      box-shadow: 0 1px 2px 0 rgba(#000, 0.3), 0 1px 3px 1px rgba(#000, 0.15);
    }
  }

textarea {
    border-radius: 8px;
    border: 1px solid #80868b;
    color: #3c4043;
    display: block;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0.75rem 1rem;
    width: 100%;
}

p {
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
}

.author-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.material-symbols-outlined {
    font-size: 30px;
    margin-right: 0.5rem;
}

.timestamp {
    color: gray;
    font-size: 0.75rem;
}