main {
  margin-left: 360px;
  padding: 1.75rem;
  position: relative;
}

section {
  background-color: #fff;
  border-radius: 8px;
  margin: 0 auto 1rem;
  max-width: 65ch;
  padding: 1rem 1.5rem;
}

dialog {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  max-width: 65ch;
  padding: 1.5rem;
  text-align: center;

  span {
    color: #1a73e8;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    color: #3c4043;
    margin: 1rem 0;
    text-align: left;
  }

  form {
    text-align: right;
  }

  label {
    color: #3c4043;
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  input {
    height: 18px;
    margin-right: 0.5rem;
    vertical-align: sub;
    width: 18px;
  }

  button {
    background-color: transparent;
    border-radius: 8px;
    border: none;
    color: #1a73e8;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    height: 36px;
    padding: 0 1.5rem;

    &:hover {
      background-color: rgba(#3c4043, 0.08);
    }
  }
}

::backdrop {
  background-color: #202124;
  opacity: 0.6;
}

h1,
h2,
h3 {
  color: #202124;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

h3 {
  margin-left: 0.5rem;
}

a {
  color: #202124;
  text-decoration: none;
}

article {
  background-color: #fff;
  border-bottom: 1px solid #dadce0;
  padding: 1.5rem 0;

  &:last-of-type {
    border-bottom: none;
  }
}

form {
  margin-top: 1rem;
}

.report-button {
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: #5f6368;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.5rem;

  &:hover {
    background-color: rgba(#3c4043, 0.08);
  }
}

.post-button {
  align-items: center;
  background-color: #8ab4f8;
  border-radius: 8px;
  border: none;
  color: #202124;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  height: 56px;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;

  &:hover {
    box-shadow: 0 1px 2px 0 rgba(#000, 0.3), 0 1px 3px 1px rgba(#000, 0.15);
  }
}

textarea {
  border-radius: 8px;
  border: 1px solid #80868b;
  color: #3c4043;
  display: block;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.75rem 1rem;
  resize: none;
  width: 100%;
}

p {
  line-height: 1.5;
  margin: 0.25rem 0 0.75rem;
}

.author-box {
  align-items: center;
  display: flex;
}

.back {
  font-size: 30px;
}

.post-tag {
  padding: 4px 10px;
  margin: 5px 10px 5px 0;
  border-radius: 999px;
  max-width: 250px;
  display: flex;
  color: rgb(2, 70, 117);
  background-color: rgba(52, 152, 219, 0.08);
  border-color: rgba(36, 106, 153, 0.2);
}

.profile-pic {
  font-size: 30px;
}

.subtitle {
  color: #5f6368;
  font-size: 0.875rem;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.tag-box {
  display: flex;

  span {
    font-size: 1.25rem;
    margin-right: 0.5rem;
  }
}

.slow {
  color: rgb(0, 91, 38);
  background-color: rgba(46, 204, 113, 0.08);
  border-color: rgba(32, 142, 79, 0.2);
}

.moderate {
  color: rgb(130, 130, 0);
  background-color: rgba(243, 243, 18, 0.08);
  border-color: rgba(170, 170, 12, 0.2);
}

.fast {
  color: rgb(201, 7, 81);
  background-color: rgba(247, 39, 136, 0.08);
  border-color: rgba(172, 27, 102, 0.2);
}

.timestamp {
  color: #5f6368;
  font-size: 0.75rem;
}
