<app-navigation />
<main>
    <section>
        <h1>Title</h1>
    </section>
    <section>
        <h2>Comments</h2>
        @for (comment of comments; track comment.id) {
        <article>
            <div class="author-box">
                <span class="material-symbols-outlined">account_circle</span>
                <h3>{{ comment.author }}</h3>
            </div>
            <p>{{ comment.content }}</p>
            <div class="timestamp">{{ comment.timestamp }}</div>
        </article>
        }
    </section>
</main>