<nav>
  <div>
    <h1>RunMates</h1>
    <ul>
      <li>
        <a class="selected" routerLink="/">
          <span class="material-symbols-outlined">home</span>Home
        </a>
      </li>
    </ul>
  </div>
  <div>
    <button class="post-button" type="button"  routerLink="/new-post">
      <span class="material-symbols-outlined">edit</span>Post
    </button>
    <button class="signout-button" type="button">
      <span class="material-symbols-outlined">logout</span>Sign out
    </button>
  </div>
</nav>
