h1,
h2 {
  color: #202124;
  margin-top: 0;
}

.post-tag {
  padding: 4px 10px;
  margin: 5px 10px 5px 0;
  border-radius: 999px;
  text-overflow: ellipsis;
  max-width: 150px;
  text-align: center;
  color: rgb(0, 91, 38);
  background-color: rgba(46, 204, 113, 0.08);
  border-color: rgba(32, 142, 79, 0.2);
}

article {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 1rem;
  max-width: 65ch;
  padding: 1rem 1.5rem;
}
