<app-navigation />
<main>
  <section>
    <h1>For You</h1>
    @for (post of posts; track post.id) {
      <article [routerLink]="['/post', post.id]">
        <h2>{{ post.title }}</h2>
        <div class="timestamp">{{ post.timestamp }}</div>
        <p>{{ post.content }}</p>
        <div class="tag-box">
          <div class="post-tag">
            <span class="material-symbols-outlined">location_on</span>
            <div>{{ post.location }}</div>
          </div>
          <div [class]="getPaceClass(post.pace)">
            <span class="material-symbols-outlined">directions_run</span>
            <div>{{ post.pace }}</div>
          </div>
        </div>
      </article>
    }
  </section>
</main>
