main {
  margin-left: 360px;
  padding: 1.75rem;
}

section {
  margin: 0 auto;
  max-width: 65ch;
}

h1,
h2 {
  color: #202124;
  margin-top: 0;
  margin-bottom: 5px;
}

h1 {
  font-size: 2rem;
}

.material-symbols-outlined {
  font-size: 20px;
  padding: 0px 3px;
}

.post-tag {
  padding: 4px 10px;
  margin: 5px 10px 5px 0;
  border-radius: 999px;
  max-width: 250px;
  display: flex;
  flex-direction: row;
  align-content: center;
  color: rgb(2, 70, 117);
  background-color: rgba(52, 152, 219, 0.08);
  border-color: rgba(36, 106, 153, 0.2);
}

.tag-box {
  display: flex;
  flex-direction: row;
}

.timestamp {
  color: gray;
  font-size: 0.75rem;
}

article {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
